$font-path: '../../assets/fonts';

$orange: #fe5f1e;
$background: #eee;
$background-secondary: #fafafa;

@font-face {
  font-family: 'Nunito Regular';

  src: url('#{$font-path}/Nunito-Regular.ttf') format('truetupe');
}

@font-face {
  font-family: 'Nunito Bold';

  src: url('#{$font-path}/Nunito-Bold.ttf') format('truetupe');
}

@font-face {
  font-family: 'Nunito Black';

  src: url('#{$font-path}/Nunito-Black.ttf') format('truetupe');
}


body {
  font-family: 'Nunito Regular', sans-serif;

  background-color: #f8df90;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Nunito Regular', sans-serif;

  text-decoration: none;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 48px auto 0;

  border-radius: 12px;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 92%;
  margin: 0 auto;
  padding: 40px 0;

  border-bottom: 1px solid #e3e3e3;
}


// HEADER

.header {
  overflow-x: auto;

  scrollbar-color: #000 $background;
}

.logo {
  display: flex;

  &__image {
    width: 38px;
    margin-right: 15px;
  }

  &__title {
    font-family: 'Nunito Black', sans-serif;
    font-size: 2rem;

    white-space: nowrap;
    text-transform: uppercase;
  }

  &__description {
    min-width: 33%;

    color: #7b7b7b;
  }
}

.search {
  position: relative;

  width: 90%;
  min-width: 120px;
  max-width: 500px;
  margin: {
    right: 100px;
    left: 32px;
  };

  text-align: center;

  &__icon {
    position: absolute;
    top: 10px;

    width: 20px;
    margin-left: 12px;

    cursor: pointer;

    opacity: 50%;
  }

  &__input {
    width: 100%;
    padding: 12px 36px;

    transition: linear 150ms;

    border-color: rgba(0, 0, 0, .25);
    border-radius: 12px;

    &::placeholder {
      font-family: 'Nunito Regular', sans-serif;

      letter-spacing: 1px;
    }

    &:hover {
      border-color: rgba(0, 0, 0, .5);
    }
  }
}

.cart {
  display: flex;

  padding: 12px 25px;

  cursor: pointer;
  transition: linear 200ms;

  color: #fff;
  border-radius: 32px;
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 10%);
  }

  &__total {
    align-self: center;

    white-space: nowrap;
    letter-spacing: 1px;
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    margin: 0 14px;

    background-color: rgba(255, 255, 255, .3);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    margin-bottom: 2px;
  }
}


// FILTERS

.category {
  overflow-x: auto;

  margin-right: 12px;
  padding-bottom: 12px;

  scrollbar-color: #000 $background;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 12px;
    padding: 12px 30px;

    cursor: pointer;
    transition: linear 200ms;

    border-radius: 24px;
    background-color: $background;
  }


  &__item.active,
  &__item:hover {
    background-color: #282828;
    color: #fff;
  }

  &__skeleton:hover {
    background: $background;
    cursor: default;
  }
}


.sort {
  position: relative;

  display: flex;

  &__icon {
    margin-right: 8px;
  }

  &__text {
    margin-right: 8px;

    white-space: nowrap;
  }

  &__criteria {
    cursor: pointer;
    transition: linear 200ms;

    white-space: nowrap;

    color: $orange;
    border-bottom: 1px dashed $orange;

    &:hover {
      color: darken($orange, 10%);
    }
  }

  &__list {
    position: absolute;
    top: 40px;
    left: 110px;

    display: flex;
    flex-direction: column;

    width: 140px;

    border-radius: 8px;
    background-color: $background-secondary;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05);
  }

  &__item {
    font-size: 1rem;

    padding: 12px 24px;

    cursor: pointer;
    transition: linear 100ms;
    white-space: nowrap;

    border-radius: 8px;


    &.active {
      font-size: 1rem;
      font-weight: bold;

      color: $orange;
    }

    &:hover,
    &.active {
      background-color: rgba(255, 72, 0, .1);
    }
  }
}

// MAIN

.main {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__error {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 100px;


    &__title {
      font-family: 'Nunito Bold', sans-serif;
      font-size: 3rem;
    }

    &__description {
      font-size: 2rem;

      margin-top: 8px;

      text-align: center;
    }
  }
}

.pizza {
  &__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__item {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    max-width: 400px;

    margin: 24px 12px;
    padding: 12px 24px;

    transition: linear 100ms;

    border-radius: 12px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05);

    &:hover {
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, .12);
    }
  }


  &__image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  &__name {
    font-family: 'Nunito Black', sans-serif;
    font-size: 2rem;
    font-weight: bold;

    margin: 12px 0;

    text-align: center;
  }

  &__ingredients {
    height: 100%;
    font-size: 1rem;

    margin: 12px 12px 24px;

    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100px;
    padding: 8px;

    border-radius: 12px;
    background-color: $background;

    gap: 8px;
  }

  &__crust,
  &__size {
    font-size: 1rem;

    display: flex;
    align-items: center;

    width: 100%;
    height: 50%;

    white-space: nowrap;

    gap: 8px;


    li {
      width: 100%;
      padding: 14px 0;

      cursor: pointer;
      transition: linear 100ms;
      text-align: center;

      border-radius: 8px;


      &.active {
        background-color: #fff;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 24px;
  }

  &__price {
    font-family: 'Nunito Bold', sans-serif;
    font-size: 1.5rem;

    white-space: nowrap;
  }

  &__cart {
    font-weight: bold;

    display: flex;
    align-items: center;

    padding: 12px 24px;

    cursor: pointer;
    transition: linear 100ms;

    color: $orange;
    border: 1px solid $orange;
    border-radius: 24px;

    gap: 12px;


    & span {
      font-weight: normal;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 24px;

      color: #fff;
      border-radius: 50%;
      background-color: $orange;
    }
  }

  &__cart:hover {
    color: #fff;
    background-color: $orange;

    svg path {
      fill: white;
    }

    & span {
      color: $orange;
      background-color: #fff;
    }
  }

  &__skeleton &__image {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    background-size: cover;
  }

  &__skeleton &__name {
    width: 160px;
    height: 26px;

    border-radius: 8px;
  }

  &__skeleton &__ingredients {
    width: 300px;
    height: 55px;

    border-radius: 8px;
  }

  &__skeleton &__options {
    width: 320px;

    border-radius: 12px;
  }

  &__skeleton &__price {
    width: 83px;
    height: 32px;

    border-radius: 24px;
  }

  &__skeleton &__cart {
    width: 135px;
    height: 24px;

    border: none;
    border-radius: 24px;
  }
}


// PAGINATION

.pagination {
  width: 100%;

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    margin-right: 12px;
    padding: 12px;

    cursor: pointer;
    transition: linear 200ms;
    text-align: center;

    border: 1px solid $orange;
    border-radius: 50%;

    a {
      color: $orange;
    }
  }

  &__skeleton {
    margin-right: 12px;

    border: none;
  }


  &__item.active,
  &__item:hover {
    background-color: $orange;

    a {
      color: #fff;
    }
  }
}


@media screen and (max-width: 1300px) {
  .pizza {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1600px) {
  .pizza {
    &__details {
      flex-direction: column;
    }

    &__price {
      margin-bottom: 12px;
    }
  }
}
