$font-path: '../../assets/fonts';

$orange: #fe5f1e;
$background: #eee;
$background-secondary: #fafafa;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
  font-family: 'Nunito', sans-serif;

  background-color: #f8df90;
}

p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  font-family: 'Nunito', sans-serif;

  text-decoration: none;
}

button {
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 48px auto 0;

  border-radius: 12px;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 92%;
  margin: 0 auto;
  padding: 40px 0;

  border-bottom: 1px solid #e3e3e3;
}

.btn {
  user-select: none;

  &:active {
    transform: translateY(-3px);
  }
}


// HEADER

.header {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  scrollbar-color: #000 $background;
}

.logo {
  display: flex;

  width: 100%;

  cursor: pointer;
  text-decoration: none;

  color: #000;

  svg {
    position: relative;
    top: 2px;

    margin-right: 15px;
  }

  &__title {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bolder;

    white-space: nowrap;
    text-transform: uppercase;
  }

  &__description {
    min-width: 33%;

    color: #7b7b7b;
  }
}

.search {
  position: relative;

  width: 100%;
  min-width: 120px;
  max-width: 500px;
  margin: {
    right: 120px;
    left: 32px;
  };

  text-align: center;

  &__icon {
    position: absolute;
    top: 11px;

    width: 20px;
    margin-left: 12px;

    cursor: pointer;

    opacity: 50%;
  }

  &__input {
    width: 100%;
    padding: 12px 36px;

    transition: linear 150ms;

    border-color: rgba(0, 0, 0, .25);
    border-radius: 12px;

    &::placeholder {
      font-family: 'Nunito', sans-serif;

      letter-spacing: 1px;
    }

    &:hover {
      border-color: rgba(0, 0, 0, .5);
    }
  }
}

.header-cart {
  display: flex;

  padding: 12px 25px;

  cursor: pointer;
  transition: background-color linear 200ms;

  color: #fff;
  border-radius: 32px;
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 10%);
  }

  &__total {
    align-self: center;

    white-space: nowrap;
    letter-spacing: 1px;
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    margin: 0 14px;

    background-color: rgba(255, 255, 255, .3);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 4px;
    margin-bottom: 2px;
  }
}


// FILTERS

.category {
  overflow-x: auto;

  width: 100%;
  margin-right: 12px;
  padding-bottom: 12px;

  scrollbar-color: #000 $background;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 12px;
    padding: 12px 30px;

    cursor: pointer;
    user-select: none;
    transition: background-color linear 200ms;

    border-radius: 24px;
    background-color: $background;
  }


  &__item.active,
  &__item:hover {
    color: #fff;
    background-color: #282828;
  }

  &__skeleton:hover {
    cursor: default;

    background: $background;
  }
}


.sort {
  position: relative;

  display: flex;


  &__icon {
    margin-right: 8px;
  }

  &__text {
    margin-right: 8px;

    white-space: nowrap;
  }

  &__criteria {
    cursor: pointer;
    user-select: none;
    transition: linear 200ms;
    white-space: nowrap;

    color: $orange;
    border-bottom: 1px dashed $orange;

    &:hover {
      color: darken($orange, 10%);
    }
  }

  &__list {
    position: absolute;
    top: 40px;
    left: 110px;

    display: flex;
    flex-direction: column;

    width: 140px;

    border-radius: 8px;
    background-color: $background-secondary;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05);
  }

  &__item {
    font-size: 1rem;

    padding: 12px 24px;

    cursor: pointer;
    user-select: none;
    transition: linear 100ms;
    white-space: nowrap;

    border-radius: 8px;

    &.active {
      font-size: 1rem;
      font-weight: bold;

      color: $orange;
    }

    &:hover,
    &.active {
      background-color: rgba(255, 72, 0, .1);
    }
  }
}

// MAIN

.main {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__info-message {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 100px;

    &__title {
      font-family: 'Nunito', sans-serif;
      font-size: 3rem;
      font-weight: bold;
    }

    &__description {
      font-size: 2rem;

      margin-top: 8px;

      text-align: center;
    }
  }
}

.pizza {
  &__list {
    display: grid;

    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  &__item {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;

    max-width: 400px;
    margin: 24px 12px;
    padding: 12px 24px;

    transition: linear 100ms;

    border-radius: 12px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .05);

    &:hover {
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, .12);
    }
  }


  &__image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  &__name {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: bolder;

    margin: 12px 0;

    text-align: center;
  }

  &__ingredients {
    font-size: 1rem;

    height: 100%;
    margin: 12px 12px 24px;

    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100px;
    padding: 12px 8px;

    border-radius: 12px;
    background-color: $background;

    gap: 8px;
  }

  &__crust,
  &__size {
    font-size: 1rem;

    display: flex;
    align-items: center;

    width: 100%;
    height: 50%;

    user-select: none;
    white-space: nowrap;

    gap: 8px;

    li {
      width: 100%;
      padding: 14px 0;

      cursor: pointer;
      transition: linear 100ms;
      text-align: center;

      border-radius: 8px;

      &.active {
        background-color: #fff;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 24px;
  }

  &__price {
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;

    white-space: nowrap;
  }

  &__cart {
    font-weight: bold;

    display: flex;
    align-items: center;

    padding: 12px 24px;

    cursor: pointer;
    transition: background-color linear 100ms;

    color: $orange;
    border: 1px solid $orange;
    border-radius: 24px;

    gap: 12px;

    & span {
      font-weight: normal;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 24px;

      color: #fff;
      border-radius: 50%;
      background-color: $orange;
    }
  }

  &__cart:hover {
    color: #fff;
    background-color: $orange;

    svg path {
      fill: white;
    }

    & span {
      color: $orange;
      background-color: #fff;
    }
  }

  &__skeleton &__image {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    background-size: cover;
  }

  &__skeleton &__name {
    width: 160px;
    height: 26px;

    border-radius: 8px;
  }

  &__skeleton &__ingredients {
    width: 300px;
    height: 55px;

    border-radius: 8px;
  }

  &__skeleton &__options {
    width: 320px;

    border-radius: 12px;
  }

  &__skeleton &__price {
    width: 83px;
    height: 32px;

    border-radius: 24px;
  }

  &__skeleton &__cart {
    width: 135px;
    height: 24px;

    border: none;
    border-radius: 24px;
  }
}


// PAGINATION

.pagination {
  width: 100%;

  &__list {
    display: flex;
  }

  &__item {
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    margin-right: 12px;
    padding: 12px;

    cursor: pointer;
    transition: linear 200ms;
    text-align: center;

    color: $orange;
    border: 1px solid $orange;
    border-radius: 50%;

    a {
      color: $orange;
    }
  }

  &__skeleton {
    margin-right: 12px;

    border: none;
  }


  &__item.active,
  &__item:hover {
    color: #fff;
    background-color: $orange;
  }
}

// CART

.cart {
  width: 100%;
  max-width: 820px;
  margin: 90px auto;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 32px;

    display: flex;

    svg {
      width: 30px;
      margin-right: 10px;
    }
  }

  &__clear {
    display: flex;
    align-items: center;

    cursor: pointer;
    transition: background-color linear 100ms;
    white-space: nowrap;

    color: #b6b6b6;

    svg {
      position: relative;
      top: -2px;

      margin-right: 10px;

      transition: linear 100ms;
    }
  }

  &__clear:hover {
    color: black;

    svg {
      filter: brightness(0);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;

    margin-top: 64px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__item-img img {
    width: 120px;
    height: 120px;
    margin-right: 24px;
  }

  &__item-info {
    width: 50%;

    p:first-of-type {
      font-size: 26px;
      font-weight: bold;

      overflow: hidden;

      margin-bottom: 4px;

      text-overflow: ellipsis;
    }

    p:last-of-type {
      color: #8d8d8d;
    }
  }

  &__item-count {
    display: flex;
    align-items: center;
  }

  &__item-count-btn {
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;
    transition: background-color linear 100ms;

    color: $orange;
    border: 2px solid $orange;
    border-radius: 50%;

    &:hover {
      color: #fff;
      background-color: $orange;

      svg {
        filter: brightness(0) invert(1);
      }
    }
  }

  &__item-count-value {
    font-size: 22px;
    font-weight: bold;

    margin: 0 12px;
  }

  &__item-price {
    font-size: 22px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 20%;

    white-space: nowrap;

    p:first-of-type {
      font-size: 12px;
      color: #7b7b7b
    }
  }

  &__item-remove {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;

    cursor: pointer;
    transition: background-color linear 100ms;
    transform: rotate(45deg);

    border: 2px solid $orange;
    border-radius: 50%;

    &:hover {
      background-color: $orange;

      svg {
        filter: brightness(0) invert(1);
      }
    }

    img {
      width: 12px;
    }
  }
}

// AUTH

.auth {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;

  max-width: 820px;
  margin: 0 auto;


  h2 {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  form {
    display: flex;
    flex-direction: column;

    width: 300px;
  }

  input {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

    margin-bottom: 10px;
    padding: 8px 8px 8px 12px;

    border: 1px solid #ccc;
    border-radius: 24px;
  }

  button {
    font-size: 16px;
    font-weight: bold;

    width: 100%;
    padding: 10px 24px;

    cursor: pointer;
    transition: background-color 150ms;
    letter-spacing: 1px;

    color: #fff;
    border: 1px solid $orange;
    border-radius: 24px;
    background: $orange;

    &:hover {
      color: $orange;
      background-color: #fff;;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  a {
    font-weight: bold;

    margin-top: 12px;

    color: $orange;
  }

  &__error,
  &__success {
    align-self: center;

    margin-bottom: 12px;

    text-align: center;
    white-space: nowrap;
  }

  &__error {
    color: red;
  }

  &__success {
    color: green;
  }
}

.login-logout {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;

  margin-left: 24px;
  padding: 12px 24px;

  transition: background-color linear 150ms;
  letter-spacing: 1px;

  color: $orange;
  border: 1px solid $orange;
  border-radius: 24px;

  &:hover {
    color: white;
    background-color: $orange;
  }
}

.is-logged-in {
  transition: background-color linear 150ms;

  color: white;
  background-color: $orange;

  &:hover {
    color: $orange;
    background-color: white;;
  }
}


@media screen and (max-width: 1300px) {
  .pizza {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1600px) {
  .pizza {
    &__details {
      flex-direction: column;
    }

    &__price {
      margin-bottom: 12px;
    }
  }
}

@media screen and (max-width: 700px) {
  .pizza {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
